    <div class="tab-pane active" id="tab_a">
                <h4>Client Pane</h4>

                <div style="width: 800px;">
                    <div id="inputContainer" class="inputDemo" ng-controller="inputController as ctrl">
                        <md-content layout-padding>
                            <form name="projectForm">
                                <md-input-container class="md-block">
                                    <label>Client Name</label>
                                    <input required name="userName" ng-model="project.userName">
                                    <div ng-messages="projectForm.userName.$error">
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label>Email</label>
                                    <input required type="email" name="userEmail" ng-model="project.userEmail"
                                           minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                                    <div ng-messages="projectForm.userEmail.$error" role="alert">
                                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                            Your email must be between 10 and 100 characters long and should be a valid email address.
                                        </div>
                                    </div>
                                    </md-input-container>

                                <md-input-container class="md-block">
                                    <label>Comments</label>
                                    <input md-maxlength="300" required name="comments" ng-model="project.comments">
                                    <div ng-messages="projectForm.comments.$error">
                                        <div ng-message="required">This is required.</div>
                                        <div ng-message="md-maxlength">The comments has to be less than 300 characters long.</div>
                                    </div>
                                </md-input-container>

                                    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                                        <a href="#tab_b" data-toggle="pill">App Information</a></li>
                                    </section>
                                </form>
                            </md-content>
                        </div>
                    </div>
                </div>