  <div class="container">
        <!--nav pills example-->

        
            <div class="col-md-3">
                
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="pages/exp1.html#tab_a" data-toggle="pill">Client Information</a></li>
                <li class=""><a href="#tab_b" data-toggle="pill">App Information</a></li>
                <li class=""><a href="#tab_c" data-toggle="pill">Target Audience</a></li>
                <li class=""><a href="#tab_d" data-toggle="pill">Demographic</a></li>
                <li class=""><a href="#tab_e" data-toggle="pill">Color palette</a></li>
            </ul>
                   
            </div>
            
      

